<div>
  <h1>Form-Demo</h1>

  <form [formGroup]="formGroup">

    <label class="width-full">
      Name:
      <input type="text" [formControl]="formGroup.controls.name">
      <small class="form-text text-danger" *ngIf="!formGroup.controls.name.valid">{{formGroup.controls.name.errorMessage}}<br/></small>
    </label>
    
    <label class="width-full">
      Vorname:
      <input type="text" [formControl]="formGroup.controls.vorname">
      <small class="form-text text-danger" *ngIf="!formGroup.controls.vorname.valid">{{formGroup.controls.vorname.errorMessage}}<br/></small>
    </label>

    <label class="width-full">
      Alter:
      <input type="text" [formControl]="formGroup.controls.alter">
      <small class="form-text text-danger" *ngIf="!formGroup.controls.alter.valid">{{formGroup.controls.alter.errorMessage}}<br/></small>
    </label>

    <div>
      Valid: {{formGroup?.valid}}
    </div>

   
    <div>
      Text: {{printControls()}}
    </div>

  </form>
</div>


